#root {
  min-width: 320px;
  max-width: 320px;
  margin: 30px auto;
  background-color: #1a1b21;
  text-align: center;
  border-radius: 10px;
}

h1,
h2,
small {
  line-height: 3rem;
}

.profile {
  width: 100%;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 10px 10px 0 0;
}

.profile:hover {
  filter: drop-shadow(0 0 1em #f3bf99);
}

/* Main Section */

.section__main {
  background-color: #1a1b21;
}

.section__main p.profession {
  color: #f3bf99;
}

/* Footer */

.section__footer {
  background-color: #161619;
  border-radius: 0 0 10px 10px;
}

.footer-nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

/* Shared */

.section-copy {
  text-align: left;
  margin-top: 25px;
}

.section-copy > p {
  font-size: 14px;
  line-height: 1.25rem;
}

.section__main,
.section__footer {
  padding: 15px 25px;
}