/* Generic styling and external script styling */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #23252c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  place-items: center;
}

a {
  font-weight: 500;
  color: #918e9b;
  text-decoration: inherit;
}

h1 {
  margin-top: 10px;
}

h1,
h2,
small {
  line-height: 3rem;
}

/* External Buy Me A Coffee Script styling */

.bmc-btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  animation: 2s ease-in 0s 1 forwards button-load;
  font-weight: 900;
}

.bmc-btn {
  transition:
    background-color 0.25s ease-in,
    color  0.25s ease-in;
}

.bmc-btn:hover {
  background-color: #39b4b1 !important;
  color: hsla(318, 72.29%, 54.71%, 1);
}

.bmc-btn span {
  font-size: 16px;
}

@keyframes button-load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
