:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #23252c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

/* Regular Link Styling */

a {
  font-weight: 500;
  color: #918e9b;
  text-decoration: inherit;
}

.dynamic-link {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.dynamic-link::before {
  content: '';
  position: absolute;
  top: 100%;
  width: 100%;
  height: 2px;
  background-color: #df38ac;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.dynamic-link:hover {
  color: #53f2ef;
}

.dynamic-link:hover::before {
  transform: scaleX(1);
}

/* Button Link Styling */

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  display: inline-flex;
  align-items: center;
  background-color: rgb(239, 239, 239);
  color: rgb(0, 0, 0);
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button > span {
  padding-left: 0.5rem;
}

.button--linkedin {
  background-color: #5093e2;
  color: #fff;
}

.dynamic-button {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.dynamic-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(318, 72.29%, 54.71%, .15);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.dynamic-button:hover {
  background-color: hsla(318, 72.29%, 54.71%, 1);
  color: #53f2ef;
}

.dynamic-button:hover::before {
  transform: scaleX(1);
}